.visualizer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@circle-width: 100px;
@circle-radius: 50px;

.key-circle-label {
    line-height: 100px;
    text-align: center;
    font-size: 2.2em;
    color: #FFF;
    z-index: 5;
}

.key-circle,
.key-circle-label,
.key-circle-velocity,
.key-circle-duration {
    position: absolute;
    top: 0;
    left: 0;
    width: @circle-width;
    height: @circle-width;
    border-radius: @circle-radius;
}

.key-circle-velocity {
    opacity: 0.3;
}
.key-circle-duration {
    opacity: 0.2;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 20s linear;
    -webkit-transition: -webkit-transform 15s ease-out;
}

.key-circle-hold {
    .key-circle-duration {
        transform: scale(10);
        -webkit-transform: scale(10);
        transition: transform 20s linear;
        -webkit-transition: -webkit-transform 15s ease-out;
    }
}
